
body{
         background-color: #d9d9d9;
         color: #1414c0;
         font-family: Arial;
}
span{
         color: red;
}
.container {
         width: 50%;
            margin: 0 auto;
        }
        
       
         .left {
        float: left;
             width: 40%;
        }
            .right {
        float: left;
             width: 40%;
                margin-left: 10%;
        }
        table, tr, th, td {
            border: 1px solid black;
            padding: 8px;
        }
        table {
            margin-bottom: 50px;
        }
tr:nth-child(even){
background-color: yellow;
color: green;
}
p:nth-child(1){
background-color: white;
color: red;
font-family: Arial;
}
li:nth-child(1){
         color: purple;
}
a:hover{
         background-color: white;
         text-decoration: none;
}
.uno{
         color: green;
         font-size: 8px;
         text-decoration: line-through;
}
.dos{
         color: yellow;
         text-decoration: underline;
         font-size: 16px;
}
.tres{
         color: pink;
         font-size: 20px;
         text-decoration: overline;
}
