

html{
background: url("https://cloud.githubusercontent.com/assets/14021347/11108544/9b99c472-88b5-11e5-9657-b89b42c31e03.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat; 
width: 100%;
height: 100%;
font-family: Fira Sans;
}
#fuego{
	width:100px;
	height: 100px;
	float: left;
}
a{
	text-decoration: none;
	color: #ffffff;
}
.nav{
    float: right;
    color: #ffffff;
    font-size: 40px;
    width: 25%;
    text-align: right;
    font-family: Architects Daughter;
}
.fit{
    color: #ffffff;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 60px;
}
.button{
text-decoration: none;
color: #ffffff;
text-align: center;
background-color: transparent;
width: 10%;
height: 20px;
margin: 0 auto;
border-radius: 20px;
padding: 20px;
padding-bottom: 40px;
border: 5px groove white;
text-decoration: none;
list-style-type: none;
font-size: 30px;
font-family: Fira Sans;
}
.button a{
    background-color: transparent;
    text-decoration: none;
}
.button:hover{
    background-color:  gainsboro;
    text-decoration: none;
}
.button:visited{
    color: transparent;
    text-decoration: none;
}
  
.contentdef{
color: #ffffff;
	width: 75%;
	border-radius: 20px;
	text-align: center;
	size: 20px;
	margin: 0 auto;
        font-size: 25px;

}
.contentDefUl{
text-align: center;
    margin: 0 auto;
	background-color:  rgba(255, 249, 247, 0.7);
	width: 75%;
	border-radius: 20px;
	color: #888888;
	list-style: none;
font-size: 30px;

}
.question{
	margin: 0 auto;
	width: 80%;
	border-radius: 20px;
	color: navy;
	list-style:none;
	text-align: center;
    font-size: 30px;

}
.QQ
{
	text-align:center;
}
.section{
	width: 50%;
	height:250px;
	float:left;
	margin: 0 auto;

   	list-style:none;
   	align-content: center;
}
.section2{
	width:50%;
	height:250px;
	float:left;
    	margin: 0 auto;

    	list-style:none;
    	align-content: center;
}

.main {
    max-width:500px;
    margin:0 auto;
    border:1px solid black;
    background-color:#ffffff;
}
.description{
	color: #ffffff;
	text-align: center;
	 font-family: Montserrat Alternates;
}
h2 {
    text-align: center;
}

label {
    display:inline-block;
    width: 200px;
}

input {
    width:40px;
    margin:10px 0;
}
li{
	color: yellow;
}
.quiz ul li {
    list-style-type: none;
    background-color:#ffffff;
}

button {
    display:inline-block;
    width:175px;
    padding:10px;
    background:green;
    color:white;
    border-radius:4px;
    margin:0 auto;
    vertical-align: top;
}


@media(max-width: 1376px){
    html{width: 100%}
    .button{text-size:80%}
}
  

